.registerLink {
	display: inline-block;
	padding: 0.6rem 1rem; /* Ajustado para igualar la altura del botón de login */
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: var(--register-link-color);
	border: 1px solid var(--separator-color);
	transition: none;
	cursor: pointer;
	user-select: none;
}

.registerLink:hover,
.registerLink:focus {
	color: var(--register-link-color);
	background-color: var(--register-link-bg-hover);
	outline: none;
	box-shadow: none;
}

.loginLink,
.loginLink:visited {
	background-color: var(--login-btn-bg);
	color: var(--login-btn-text);
	transition: none;
}

.loginLink:hover,
.loginLink:focus {
	background-color: var(--login-btn-bg-hover);
}

.loginLink:hover {
	color: var(--login-btn-text);
}

/* Estilos para la variante 'offcanvas' */
/* Asegura que el contenedor en offcanvas apile los botones verticalmente y los alinee. */
.offcanvasContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem; /* Espacio entre los enlaces */
	padding-top: 1rem; /* Añade espacio superior para separar del borde del offcanvas */
}
