.filtersContainer {
	background-color: var(--filter-container-bg);
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Contenedor para el contenido principal de los filtros, permite el scroll */
.scrollableContent {
	flex-grow: 1; /* Ocupa todo el espacio vertical disponible */
	overflow-y: auto;
	padding: 1.5rem;
}

/* Título principal */
.title {
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 1.25rem 0 1.5rem; /* Ajuste fino para alinear visualmente con el título de la lista */
	color: var(--filter-title-color);
	font-family: var(--font-family-serif);
}

.filterSection:not(:last-child) {
	margin-bottom: 1.5rem;
}

.filterTitle {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--filter-title-color);
	font-family: var(--font-family-serif);
}

.filterTitle .filterIcon {
	font-size: 1.25rem;
}

/* Aplicar borde solo en breakpoints más grandes */
@media (min-width: 768px) {
	.filtersContainer {
		border-right: none;
	}
}

/* Ajuste para escritorio: Limitamos el ancho del panel para que sea más elegante */
@media (min-width: 992px) {
	.filtersContainer {
		max-width: 25.8rem;
		width: 100%;
	}
}
