.aboutUsSection {
	background-color: var(--color-background-surface);
	padding-block: 2.5rem; /* Espaciado vertical generoso */
}

.eyebrow {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 0.75rem; /* Más pequeño y discreto */
	text-transform: uppercase;
	color: var(--color-text-brand);
}

.heading {
	font-weight: 300; /* Un peso más ligero para un look más elegante y moderno */
	font-size: 2rem; /* Reducido de display-5 a un tamaño h2 más contenido */
	color: var(--color-text-base);
	line-height: 1.3;
}

.heading strong {
	font-weight: 600; /* Semi-bold para la parte resaltada, más refinado que bold */
}

/* Color Musgo específico: Usamos un tono más oscuro y natural para el texto */
.textMoss {
	color: var(--color-text-brand);
}

.icon {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--color-text-brand);
}

/* Estilos para el párrafo descriptivo */
.description {
	font-size: 1rem;
	line-height: 1.5;
	color: var(--color-text-base);
	max-width: 600px; /* Limita el ancho para mejorar la legibilidad */
	margin: 0 auto; /* Centra el párrafo */
	margin-top: 1.5rem; /* Espacio entre el título y el párrafo */
}
