# Archivos específicos del editor
.vscode/
.idea/
.sonarlint/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias
/node_modules

# Archivos de build
# Común si se añaden herramientas como Vite, Webpack, etc.
/dist
/build

# Variables de entorno
# Nunca se deben subir claves de API o secretos al repositorio.
.env
.env.local
.env.*.local

# Archivos de log
*.log
