@import "tailwindcss/base";
@import "./css/Global.css";
@import "./css/Themes.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	--radius: 0.75rem;
}

@layer base {
	body {
		@apply bg-background text-foreground antialiased;
		font-family: var(--font-sans);
		text-rendering: optimizeLegibility;
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}
}
