/* Asegura que el contenedor de la página crezca para ocupar todo el espacio del Layout */
.pageContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-block: 2rem; /* Margen de seguridad vertical para breakpoints pequeños */
}

.pageContainer :global(h2) {
	font-family: var(--font-family-serif);
}
