.profileLink {
	display: inline-block;
	padding: 0.6rem 1rem;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid var(--separator-color);
	color: var(--register-link-color);
	transition: none;
	cursor: pointer;
	user-select: none;
}

.profileLink:hover {
	background-color: var(--theme-toggle-btn-bg-hover);
	outline: none;
	box-shadow: none;
}

.logoutLink {
	color: var(--logout-text-color);
	background-color: var(--logout-bg-color);
	border-color: var(--logout-bg-color);
	border-radius: 0.375rem;
	padding: 0.6rem 1rem;
	transition: none;
}

.logoutLink:hover,
.logoutLink:focus {
	color: var(--logout-text-color);
	background-color: var(--logout-bg-color-hover);
	border-color: var(--logout-bg-color-hover);
}
