# Ignorar dependencias, ya que se instalan dentro del contenedor

node_modules

# Ignorar logs y archivos de entorno

npm-debug.log
.env

# Ignorar metadatos de Git y Docker

.git
.gitignore
Dockerfile
docker-compose.yml
README.md
