.detailItem {
	display: flex;
	align-items: center;
	gap: var(--space-2);
	font-size: var(--font-size-base);
	line-height: 1.5;
}

.detailLabel {
	font-weight: var(--font-weight-semibold);
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
}
