.excursionsContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-block: 3rem;
}

.title {
	margin-top: 0;
	margin-bottom: 3rem;
	padding-bottom: 0;
	color: var(--color-text-base);
	font-size: var(
		--font-size-xxl
	);
	font-weight: bold;
	text-align: center;
	font-family: var(--font-family-serif);
}

/* --- Media Queries --- */
@media (min-width: 992px) {
	.title {
		text-align: left;
	}
}
